header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 80px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

.logo
img {
  margin-right: 12px;
}

header a {
  color: black;
  padding-right: 10px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding-right: 10px;
}

#logo-text {
  color: MediumAquamarine

}

.main {
  border: 1px solid black;
  display: flex;
  width: 1232px;
  padding-top: 116px;
  margin: 0 auto 78px auto;
}

.column {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.stories {
  border: 1px solid black;
}

div {
  border: 1px solid black;
}

.image-content {
  background-image: url(../images/main-story.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  height: 300px
}

.fall-season {
  background-image: url(../images/fall.png);
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.research-shows {
  background-image: url(../images/hipster.png);
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.cat-image {
  background-image: url(../images/cat.png);
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
